*{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
header{
  display: flex;
  justify-content: flex-end;
}

.bg{
  width: 785px;
  height: 90px;
}
.im{
  width: 90px;
  height: 90px;
}

.btn {
  border: none;
  background-color: inherit;
  padding: 24px, 28px;
  font-size: 16px;
  cursor: pointer;
  font-family: cursive;
}
.btn:hover {
  background-color: rebeccapurple;
  color: white;
}

.AboutMe{ color: rebeccapurple;}
.Work{ color: rebeccapurple;}
.Contact{ color: rebeccapurple;}
.Resume{ color: rebeccapurple;}

top{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

info{
  display: flex;
  justify-content: space-evenly;
}